!/app/NN_module/model/eval_celeba.yml

!/app/NN_module/model/image_encoder550.pth

!/app/NN_module/model/netD0.pth

!/app/NN_module/model/netD1.pth

!/app/NN_module/model/netD2.pth

!/app/NN_module/model/netG_epoch_600.pth

!/app/NN_module/model/text_encoder550.pth

!/app/NN_module/model/train_celeba.yml
