<!doctype html>


<head><title>Test</title>
    <meta charset=utf-8>
</head>
<body>


    <h2> Our app </h2>
    <h3> Choose face features: </h3>
    <br>

     <form method="POST">
    {{ form.csrf_token }}
    {{ form.sex }}
    {{ form.hair }}
     {{ form.eyes }}
     {{ form.smile }}
     {{ form.face }}
     {{ form.age }}
     {{ form.nose }}
    <input type="submit">
    </form>

{#    <script>#}
{##}
{#        const state_select = document.getElementById("state");#}
{#        const city_select = document.getElementById("city");#}
{##}
{#        state_select.onchange = function()  {#}
{##}
{#            state = state_select.value;#}
{##}
{#            fetch('/city/' + state).then(function(response) {#}
{##}
{#                response.json().then(function(data) {#}
{#                    var optionHTML = '';#}
{##}
{#                    for (var city of data.cities) {#}
{#                        optionHTML += '<option value="' + city.id + '">' + city.name + '</option>';#}
{#                    }#}
{##}
{#                    city_select.innerHTML = optionHTML;#}
{#                })#}
{##}
{#            });#}
{#        }#}
{#    </script>#}


<br><br><br><br>
{% for role in roles %}
<h3>{{role.role_name}}</h3>
{% endfor %}

</body>